.git
.gitignore
.env
.env.*
!.env.example
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
*.md
docker-compose*.yml
docker-compose*.yaml
render.yaml
.phpunit.cache
.phpactor.json
